@import './base.css';

/* Navbar */
nav {
    width: 100%;
    height: 10vh;
    background-color: var(--black);
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}

.nav-logo {
    font-size: 2.5rem;
    color: var(--white);
}

.nav-logo span {
    font-size: 2.5rem;
    color: var(--yellow);
    font-weight: 800;
}

/* Footer */
footer {
    width: 100%;
    height: 7vh;
    background-color: var(--black);
    position: sticky;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    margin-top: 4rem;
}

footer p {
    font-size: 1.5rem;
}

.footer-flex {
    display: flex;
    gap: 1rem;
}

.footer-flex img {
    width: 2rem;
}

footer p {
    color: var(--white);
}

/* HomeView */
.home-view-title {
    font-size: 2rem;
    font-weight: 800;
    color: var(--white);
    margin: 4rem 2rem 2rem 6rem;
}

.home-view-title span {
    font-size: 2rem;
    font-weight: 900;
    color: var(--yellow);
}

/* HomeHeader */
/* HeaderShow */
.header-show-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: top;
}

.header-show-gradient {
    height: 60vh;
}

.header-show-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, var(--purple) 100%);
    margin-top: -50vh;
    height: 50vh;
    width: 100%;
    content: '';
}

.header-show-info {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header-show-title {
    font-size: 7rem;
    font-weight: 800;
    color: var(--white);
    text-align: center;
}

.genre-tag {
    color: var(--white);
    font-size: 1.5rem;
    border: 3px solid var(--white);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
}

.header-show-spans {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin-top: 1rem;
}

.header-show-full {
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border: 3px solid var(--white);
    border-radius: 50%;
}

.header-show-empty {
    width: 15px;
    height: 15px;
    border: 3px solid var(--white);
    border-radius: 50%;
}

/* ShowCarousel */
.show-carousel-container {
    position: relative;
}

.show-carousel-flex {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    white-space: nowrap;
    overscroll-behavior-inline: contain;
    padding: 0 6rem;
}

.show-carousel-btn {
    position: absolute;
    top: calc(50% - 25px);
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    font-size: 2rem;
    font-weight: 900;
    color: var(--purple);
    border: 3px solid var(--purple);
    background-color: var(--white);
}

.left {
    left: 2rem;
}

.right {
    right: 2rem;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 6rem;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.show-carousel-flex::-webkit-scrollbar{
    display: none;
}

/* ShowItem */
.show-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 200px;
}

.show-item-container img {
    border-radius: var(--border-radius);
    width: 200px;
}

.show-item-container p {
    font-size: 1.6rem;
    text-align: center;
    color: var(--white);
}

/* ShowDetailsView */
.show-details-img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}

.show-details-gradient {
    height: 70vh;
}

.show-details-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, var(--purple) 100%);
    margin-top: -80vh;
    height: 80vh;
    width: 100%;
    content: '';
}

.show-details-info {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.show-details-title {
    font-size: 7rem;
    font-weight: 800;
    color: var(--white);
}

.show-details-p {
    color: var(--white);
    font-size: 1.6rem;
}

.genres-flex {
    display: flex;
    gap: 1rem;
}

.show-details-season-container {
    margin: 0 6rem;
    padding: 3rem;
    background-color: #74688B;
    border-radius: var(--border-radius);
}

.show-details-s-names-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.show-details-s {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid var(--yellow);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
}

.selected {
    color: var(--purple);
    background-color: var(--yellow);
}

/* SeasonCarousel */
.season-carousel-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
}

.season-carousel-img {
    width: 100%;
}

.season-carousel-p {
    color: var(--white);
}